<!DOCTYPE html>
<html>
  <head>
    <title>Social Authentication</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Node Authentication</h1>
        <p>Login or Register with:</p> 
  
        <a href="/login" class="btn btn-info" role="button">Local Login</a>
        <a href="/signup" class="btn btn-info" role="button">Local Signup</a>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
